@use "./variables.scss";

.photolist {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  max-width: variables.$container-width;
  justify-content: center;

  &__item {
    margin: variables.$spacing-s;
  }

  &__image {
    width: 100%;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}